@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: purple;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ball {
  translate: -50% 0;
}

.msgs-scroll::-webkit-scrollbar {
  width: 12px;
}

.msgs-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.msgs-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgb(94, 34, 14);
}

@layer components {
  .ball {
    @apply absolute bottom-0 left-1/2  aspect-square w-12 skew-y-12 rounded-full z-[9999];
  }

  .page-bars {
    @apply bg-orange-900;
  }
}
