@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: purple;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
